
{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block content %}

<body>
    <div class="app-container">
                
        <main class="main-content">
            <div class="card login-card">
                <div class="logo-center">
                    <img src="{% static 'images/ChamaSpace_Logo.png' %}" alt="ChamaSpace">
                </div>

                <p class="card-instruction">Forgot Password?</p>
                <h5 style="text-decoration:#00a65a">{% include '_messages.html' %}</h5>
                
                <div class="divider"></div>
                
                <form id="loginForm" method="post" action ="{% url 'forget_password' %}" class="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="label">National Identity No.</label>
                        <input class="input" type="text" name="un" placeholder="Enter Your ID No." onKeyPress="if(this.value.length==8) return false;" required>                                     
                    </div>              
                                        
                    <button type="submit" name="button" class="primary-btn">Get Verification Code</button>
                    
                    
                </form>
            </div>
        </main>
    </div>
</body>

{% endblock %}
