{% extends 'pages_base.html' %}
{% load static %}

{% block title %}Terms & Conditions - ChamaSpace{% endblock %}

{% block content %}
<div class="terms-container">
    

    <div class="terms-content">
        <h1>Terms & Conditions</h1>

        <h2>1. Introduction</h2>
        <p>We thank you for choosing ChamaSpace. Chama Space is a Platform that will encourage you to save and grow a habit of saving with a purpose. Chama Space is a product of Jeld Investment LTD.</p>
        <p>Please note that it is important for you to read and understand these entire Terms of Service before you decide to accept it and proceed with registration. You can only access ChamaSpace services once you have read and accepted the following Terms and Conditions.</p>
        <p>These conditions become effective when you access the site for the first time and constitute a binding agreement between you and ChamaSpace. It is important to note that these terms will govern our respective rights and obligations every time you access this site and will always prevail.</p>

        <h2>2. Definitions</h2>
        <p>Unless otherwise specified, the following expressions shall have the following meanings in these General Terms and Conditions.</p>
        <p><strong>Account</strong> means all accounts whether existing or future, that is/are operated by the customer.<br>
        <strong>Communications’</strong> means the transmission of information, instructions, emails, messages, requests, and other communications.<br>
        <strong>Customer</strong> any individual who opens an account with ChamaSpace.<br>
        <strong>Chama</strong> means a group of customers brought together which has common characteristics, that is, contribution, frequency, and members.<br>
        <strong>Service</strong> includes but is not limited to payment, contributions, and transfers.</p>
        <p>In these Terms and Conditions, “Us’, ‘we’, ‘our’ unless stated otherwise will refer to ChamaSpace as an entity while ‘you”, “your”, “yours” refer to any person who access ChamaSpace services as a customer.</p>

        <h2>3. General</h2>
        <p>The terms of these General Terms and Conditions apply to each Account in any manner acceptable to ChamaSpace and are binding on both the Customer and ChamaSpace.</p>
        <p>When opening an account with Chama Space, you will provide us will all the information and documents reasonably required in relation to your individual Account or Chama.</p>
        <p>By execution of these General Terms and Conditions, you irrevocably and unconditionally bind yourself to and to fulfill the terms contained herein.</p>
        <p>ChamaSpace shall be entitled to modify these General Terms and Conditions without any reference to the customer if:</p>
        <p>i. The Laws of the Republic of Kenya are modified, or new regulations affecting the activities of financial service providers come into force.<br>
        ii. ChamaSpace deems it necessary for any reason whatsoever.<br>
        ChamaSpace shall within reasonable time notify you of the modification to these General terms.<br>
        ChamaSpace may only modify these General Terms and Conditions with immediate effect if such a modification is made compulsory or otherwise necessary by change in law or any other statutory regulations or framework.</p>

        <h2>4. Instructions to ChamaSpace</h2>
        <p>ChamaSpace may from time require proof of the identity of the Customer. Under special circumstances, the Customer may name a person to operate their account or deal with ChamaSpace. The authority may however be revoked by the customer through notice to ChamaSpace.</p>

        <h2>5. ChamaSpace-Customer Confidentiality</h2>
        <p>ChamaSpace shall treat as confidential all information, facts, and data acquired from and about the Customer and shall not disclose it to third parties unless authorized by the customer in writing, permitted by relevant laws, or based on a court order decree or decree of a tribunal or any other regulatory and administrative body established under any legislation in force in Kenya. The Customer hereby undertakes and agrees to keep confidential its business relationship with ChamaSpace. The Customer shall not provide information to third parties in respect of any agreement concluded with ChamaSpace without our prior written consent.</p>

        <h2>6. Mutual Co-operation</h2>
        <p>ChamaSpace and the Customer shall each perform their contractual obligations in the spirit of mutual co-operation, good faith, and reasonable care. Each party shall promptly inform the other of all significant facts, circumstances, and changes relating to these General Terms and Conditions. The Customer shall provide all information required by ChamaSpace necessary for the operation of chamas and any transactions between the customer and ChamaSpace.</p>

        <h2>7. Representations, Warranties and Undertakings</h2>
        <p>The operations and performance of ChamaSpace are subject to the prevailing laws, rules, decrees, notices, laws, and regulations that govern financial institutions and financial services providers in force in the republic of Kenya and its internal policies. ChamaSpace shall be entitled prior to establishing any business relations and at any time thereafter to satisfy itself that the customer is an organization duly established in accordance with the applicable laws of its country of origin or domicile. ChamaSpace shall be entitled to make or retain a photocopy for its files of any original documentation presented by the customer.</p>
        <p>ChamaSpace shall record the data of the Customer and its representative always required by the laws and regulations in force on the preventing and combating of money laundering. If the documents referred to in clause 7.13 are not in English, ChamaSpace has the right to request a translation from a person approved by ChamaSpace from the customer. The expense of such a translation shall be borne by the Customer.</p>
        <p>The Customer hereby represents and warrants to ChamaSpace that it is legally established under the laws of its country of origin, it has the necessary power to execute these General Terms and Conditions and that all consents, licenses, and approvals are in place as regards the execution of these General Terms and Conditions.</p>

        <h2>8. Limitation of Liability</h2>
        <p>ChamaSpace shall not be held liable for costs, damages, or any other loss that results from events in the control of the customer or influence.</p>

        <h2>9. Place and Time of Acting on Instruction</h2>
        <p>Unless otherwise agreed, execution of contractual obligations between ChamaSpace and the customer shall be conducted online. Any payment obligation to the customer shall be considered fulfilled when ChamaSpace's account is debited.</p>

        <h2>10. Deposits</h2>
        <p>ChamaSpace shall accept deposits from the customer in Kenya shillings. ChamaSpace shall accept and disburse payments through the payment means listed on its website. The customer understands that their deposits may be used for set-offs against the customer.</p>

        <h2>11. Withdrawals</h2>
        <p>ChamaSpace shall facilitate withdrawals according to the terms and conditions set forth on the platform. The customer understands that withdrawal requests will be processed in a timely manner, subject to necessary verification processes.</p>

        <h2>12. Payments and Fees</h2>
        <p>a. Certain features of the App may require payment. You agree to pay all applicable fees associated with the use of the App.</p>
        <p>b. Payments are subject to our payment terms and conditions</p>

        <h2>13. Account Creation</h2>
        <p>To use the Application, you must create a user account. You are responsible for maintaining the confidentiality and security of your account. Accuracy of Information: You agree to provide accurate, complete, and up-to-date information during account creation and usage.</p>

        <h2>14. Account Suspension and Termination</h2>
        <p>ChamaSpace reserves the right to suspend or terminate a customer's account in the event of suspected fraudulent activity, violation of terms, or any other reason deemed appropriate by ChamaSpace. The customer may request the termination of their account, subject to fulfilling outstanding obligations.</p>

        <h2>15. Loan Requests and Lending</h2>
        <p>Loan Eligibility: Only registered users can request or lend loans through the Application.<br>
        Loan Guarantors: Borrowers must provide a guarantor who is saving towards a goal and agrees to guarantee the loan.<br>
        Interest Rates: Interest rates for loans are agreed upon between lenders and borrowers, within the range set by the Application.<br>
        Loan Terms: Borrowers and lenders agree on the repayment term, installment amounts, and frequency of repayments.</p>

        <h2>16. Loan Repayment and Penalties</h2>
        <p>Repayment: Borrowers are responsible for repaying the loan according to the agreed terms and schedule.<br>
        Late Payments: Late payments may incur penalties or fines as determined by the Application.<br>
        Default: Failure to repay the loan may result in legal action, damage to credit score, and collection proceedings.<br>
        Guarantor: ChamaSpace may deduct money from a guarantor’s account to repay a loan in case the guaranteed party fails to make a loan repayment.</p>

        <h2>17. Savings and Goals</h2>
        <p>Users can choose between Express Saving, Personal Goals, and Group Goals for their savings. Users may deposit money toward their chosen goals, and this money will earn interest at a specified rate. Users can redeem the goal amount and interest earned, subject to applicable taxes, upon reaching their goal or the specified period.</p>

        <h2>18. Third-Party Services</h2>
        <p>ChamaSpace may use third-party services for analytics, payment processing, and notifications. These services may collect information as governed by their respective privacy policies.</p>

        <h2>19. Privacy Policy</h2>
        <p>ChamaSpace shall collect, store, and utilize customer data in accordance with its Privacy Policy, which is an integral part of these Terms and Conditions. The Privacy Policy outlines the type of information collected, how it is used, and the measures in place to protect customer data.</p>

        <h2>20. Communication</h2>
        <p>ChamaSpace may contact the customer via email, SMS, or other forms of communication regarding account-related updates, promotions, and other relevant information. The customer can choose to opt out of promotional communications but acknowledges that critical account information will still be communicated.</p>

        <h2>21. Intellectual Property Rights</h2>
        <p>The customer acknowledges and agrees that all content and materials available on the ChamaSpace platform, including but not limited to logos, designs, and functionalities, are the property of ChamaSpace. The customer shall not reproduce, distribute, modify, or create derivative works based on any part of the ChamaSpace platform without prior written consent.</p>

        <h2>22. Dispute Resolution</h2>
        <p>Any disputes or claims arising out of or relating to these Terms and Conditions shall be resolved through negotiation and good faith discussions between the parties. If an amicable resolution cannot be reached, the parties agree to pursue mediation or arbitration in accordance with the applicable laws and regulations.</p>

        <h2>23. Governing Law</h2>
        <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of the Republic of Kenya. Any legal actions or proceedings arising out of or in connection with these Terms and Conditions shall be brought in the courts of the Republic of Kenya.</p>

        <h2>24. Entire Agreement</h2>
        <p>These Terms and Conditions constitute the entire agreement between the customer and ChamaSpace, superseding any prior agreements or understandings. Any amendments or modifications to these Terms and Conditions must be in writing and agreed upon by both parties.</p>
    </div>

    <div class="terms-footer">
        <a href="{% url 'homepage' %}" class="btn-home">Home</a>
    </div>
</div>

<!-- Load custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/terms.css' %}">
{% endblock %}