
    <!-- Modal -->

    <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModal7Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="popup_box">
                        <h4 class="popup_heading mb-3">
                            What do you want to do with your Goal of Buying a New?
                        </h4>


                        <button class="btn popup_btn mt-4 white_btn">
                            Delete Goal
                        </button>
                        <button class="btn popup_btn mt-4 white_btn">
                            Close
                        </button>
                        <button class="btn popup_btn mt-4" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--buy a new  New House pop up models end-->
    <!--with draw model -->
    <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModal8Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="popup_box">
                        <h4 class="popup_heading">
                            Congratulations!
                        </h4>
                        <p>
                            You Achieved your Goal!
                        </p>

                        <div class="text-center mt-3 mb-3">
                            <img src="{% static 'images/success.png' %}" alt="">
                        </div>
                        <h4 class="popup_heading">
                            You got your New House
                        </h4>
                        <h4 class="popup_heading text_shadows">
                            Kshs. 1,500,000.00
                        </h4>
                        <button class="btn popup_btn mt-3" "
                data-bs-dismiss=" modal">
                            Withdraw Cash
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- add fonts pop up-->
    <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModal9Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="popup_box">
                        <h4 class="popup_heading">
                            Buying a New House
                        </h4>
                        <h4 class="popup_heading mb-0 mt-3">
                            Your weekly target!
                        </h4>
                        <h4 class="popup_heading text_shadows text-dark">
                            Kshs. 15,000.00
                        </h4>

                        <form action="" class="mt-25">
                            <label for="add_money">
                                Add Money
                            </label>
                            <input type="text" name="add_money" placeholder="Enter Amount" class="mt-1">
                        </form>
                        <p class="mt-4">This money will be added to your express savings</p>
                        <button class="btn popup_btn">
                            Add Funds
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--+++++++++++++++++++++++bu a new car pages pop ups start-->
    <!--buy a new car pop up models start-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="popup_box">
                        <h4 class="popup_heading mb-3">
                            What do you want to do with your Goal of Buying a New?
                        </h4>


                        <button class="btn popup_btn mt-4 white_btn">
                            Delete Goal
                        </button>
                        <button class="btn popup_btn mt-4 white_btn">
                            Close
                        </button>
                        <button class="btn popup_btn mt-4" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--buy a new car pop up models end-->
    <!--with draw model -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModal3Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="popup_box">
                        <h4 class="popup_heading">
                            Congratulations!
                        </h4>
                        <p>
                            You Achieved your Goal!
                        </p>

                        <div class="text-center mt-3 mb-3">
                            <img src="{% static 'images/success.png' %}" alt="">
                        </div>
                        <h4 class="popup_heading">
                            You got your New Car
                        </h4>
                        <h4 class="popup_heading text_shadows">
                            Kshs. 1,500,000.00
                        </h4>
                        <button class="btn popup_btn mt-3" "
                data-bs-dismiss=" modal">
                            Withdraw Cash
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- add fonts pop up-->
    <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModal6Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="popup_box">
                        <h4 class="popup_heading">
                            Buying a New Car
                        </h4>
                        <h4 class="popup_heading mb-0 mt-3">
                            Your weekly target!
                        </h4>
                        <h4 class="popup_heading text_shadows text-dark">
                            Kshs. 15,000.00
                        </h4>

                        <form action="" class="mt-25">
                            <label for="add_money">
                                Add Money
                            </label>
                            <input type="text" name="add_money" placeholder="Enter Amount" class="mt-1">
                        </form>
                        <p class="mt-4">This money will be added to your express savings</p>
                        <button class="btn popup_btn">
                            Add Funds
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!--+++++++++++++++++++++++bu a new car pages pop ups end-->
    <!--page off canvas is start from here-->


    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5>
                <a href="#">
                    <img src="{% static 'images/offcanvas_logo.png' %}" alt="">
                </a>
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body position-relative">
            <ul class="offcanvas_list">
                <li class="list-item">
                    <a href="#">
                        <img src="{% static 'images/icon_house.png' %}" alt="">
                        Dashboard
                    </a>
                </li>
                <li class="list-item">
                    <a href="#">
                        <img src="{% static 'images/icon_people.png' %}" alt="">
                        Chamaz
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight2"
                        aria-controls="offcanvasRight2">
                        <img src="{% static 'images/file-earmark.png' %}" alt="">
                        Wekeza Goals

                    </a>
                </li>
                <li class="list-item">
                    <a href="#">
                        <img src="{% static 'images/icon_box.png' %}" alt="">
                        Kopesha Peers
                    </a>
                </li>
                <li class="list-item">
                    <a href="#">
                        <img src="{% static 'images/icon_wallet.png' %}" alt="">
                        My Account
                    </a>
                </li>
                <li class="list-item">
                    <a href="#">
                        <img src="{% static 'images/icon_chat.png' %}" alt="">
                        Activities
                    </a>
                </li>
                <li class="list-item">
                    <a href="#">
                        <img src="{% static 'images/icon_bell_.png' %}" alt="">
                        Notifications
                    </a>
                </li>
                <li class="list-item">
                    <a href="#">
                        <img src="{% static 'images/icon_gear.png' %} " alt="">
                        Settings
                    </a>
                </li>
            </ul>
            <a href="#" class="btn log_out_btn abst_button">
                Log Out
            </a>
        </div>
    </div>
    <!--off canvas end-->
    <!--wakeza off can-->
    <!--wakeza popup-->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="popup_box">
                <h4 class="popup_heading">
                    How much do you want to <br>save?
                </h4>

                <form action="" class="mt-25">
                    <label for="add_money">
                        Add Money
                    </label>
                    <input type="text" name="add_money" placeholder="Enter Amount" class="mt-1">
                </form>
                <p class="mt-4">This money will be added to your express savings</p>
                <button class="btn popup_btn">
                    Save
                </button>
            </div>
        </div>
    </div>
    <!--wakeza off can-->

    <!--wakiza off end here-->
    <!-- creat goal header is start from here-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight3" aria-labelledby="offcanvasRight3Label">

        <div class="offcanvas-body full_page">
            <div class=" weknz_header">
                <div class="container">
                    <nav class="page_nav mob_nav">
                        <div class="brand">
                            <a href="#">
                                <img src="{% static 'images/Chama-Bora_clrd.png' %}" alt="">
                            </a>
                        </div>
                        <ujal class="nav-list">

                            <li class="">

                                <button class="btn" type="button" data-bs-dismiss="offcanvas" aria-label="Close">

                                    <img src="{% static 'images/left_arrow.png' %}" alt="">
                                </button>
                            </li>
                            </ujal>
                    </nav>
                </div>
            </div>
            <section class="banner wekenz-banner">
                <div class="container">
                    <div class="wekenza_content">
                        <h2 class="wekenz_h">
                            Create a New <br>Group Goal
                        </h2>
                        <p class="sub_heading">
                            Groups can have a maximum of 15<br> members and minimum of 2 members.</p>

                        <p class="sub_heading mt-3">You can assign a maximum of 3 member<br> to become admins
                        </p>

                    </div>

                </div>
            </section>
            <section class="creat_goals">
                <div class="container">

                    <div class="savings_row">

                        <form action="">
                            <div>
                                <label for="goal_name" class="Goals_heading fw_400 mt-3 mb-1 pb-0 ">
                                    Group Goal Name:
                                </label>
                                <input type="text" name="goal_name" id="goal_name" placeholder="Name your Goal">
                            </div>
                            <div>
                                <label for="goal_name" class="Goals_heading fw_400 mt-3 mb-1 pb-0 ">
                                    Group Goal Mission:
                                </label>
                                <textarea type="text" name="goal_name" id="goal_name"
                                    placeholder="Name your Goal"></textarea>
                            </div>
                            <div>
                                <label for="goal_name" class="Goals_heading fw_400 mt-3 mb-1 pb-0 ">
                                    Group Goal Name:
                                </label>
                                <input type="text" name="goal_name" id="goal_name" placeholder="Name your Goal">
                            </div>
                        </form>
                        <h4 class="Goals_heading fw_400 mt-4 mb-1 pb-0 ">
                            Select Saving Type:
                        </h4>
                        <div class="gol_type card_border d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div class="dirty_c d-flex align-items-center justify-content-center">
                                    <img src="{% static 'images/dirty.png' %}" alt="">
                                </div>
                                <p class="dirty_text">
                                    6.5% Interest
                                    <br> Regular Saving
                                </p>
                            </div>
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div class="dirty_c d-flex align-items-center justify-content-center">
                                    <img src="{% static 'images/dirty.png' %}" alt="">
                                </div>
                                <p class="dirty_text">
                                    6.5% Interest
                                    <br> Regular Saving
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <footer class="mbl_footer">
                <div class="container">
                    <div class="footer_row d-flex flex-row justify-content-between align-items-center">
                        <button class="footer_button btn">
                            <img class="homer_white" src="{% static 'images/home_white.png' %}" alt="">

                            <p>Home</p>
                        </button>
                        <button class="footer_button btn">
                            <img src="{% static 'images/filter_active.png' %}" alt="">
                            <p>Features</p>
                        </button>
                        <button class="footer_button btn coming_soon">
                            <img src="{% static 'images/wallet_alt_fill.png' %}" alt="">
                            <p>Account</p>
                        </button>
                        <button class="footer_button btn">
                            <img src="{% static 'images/setting.png' %}" alt="">
                            <p>Settings</p>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- creat goal header is End here-->
    <!--new car geals canvas start-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight4" aria-labelledby="offcanvasRight4Label">
        <div class=" weknz_header">
            <div class="container">
                <nav class="page_nav mob_nav">
                    <div class="brand">
                        <a href="#">
                            <img src="{% static 'images/Chama-Bora_clrd.png' %}" alt="">
                        </a>
                    </div>
                    <ul class="nav-list">

                        <li class="">

                            <button class="btn" type="button" data-bs-dismiss="offcanvas" aria-label="Close">

                                <img src="{% static 'images/left_arrow.png' %}" alt="">
                            </button>
                        </li>
                        </ul>
                </nav>
            </div>
        </div>
        <div class="offcanvas-body full_page">
            <section class="banner car_banner">
                <div class="container">
                    <div class="wekenza_content">
                        <h2 class="wekenz_h mb-2">
                            Buying a New Car
                        </h2>
                        <p class="sub_heading mb-2">
                            67 Weeks Left
                        </p>
                        <h4 class="wekenza_price mb-2 text_shadows">
                            Kshs. 940,000.00
                        </h4>
                        <p class="sub_heading mt-0">
                            Remaining
                        </p>
                        <div>
                            <div class="bar_content mt-4">
                                <p class="mb-0">
                                    Saving
                                </p>
                                <p class="mb-0">33%</p>
                                <p class="mb-0">Goals</p>
                            </div>
                            <div class="goal_progress">
                                <div class="inner" style="width: 60%;">
                                </div>
                            </div>

                            <div class="bar_content mt-1">
                                <p>
                                    Kshs. 560,000.00
                                </p>
                                <p>Kshs. 1,500,000.00</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section class="creat_goals">
                <div class="container">
                    <div class="d-flex flex-row align-items-center justify-content-between mt-3">
                        <div class="d-flex flex-row align-items-center flex-column cursot-pointer"
                            data-bs-toggle="modal" data-bs-target="#exampleModal6">
                            <div class="person_round d-flex align-items-center justify-content-center">
                                <img src="{% static 'images/wallet-money_.png' %}" alt="">
                            </div>
                            <h4 class="pesno_plus_h">Add Funds</h4>
                        </div>
                        <div class="d-flex flex-row align-items-center flex-column cursot-pointer"
                            data-bs-toggle="modal" data-bs-target="#exampleModal3">
                            <div class="person_round d-flex align-items-center justify-content-center">
                                <img src="{% static 'images/money-send_.png' %}" alt="">
                            </div>
                            <h4 class="pesno_plus_h">Withdraw</h4>
                        </div>
                        <div class="d-flex flex-row align-items-center flex-column cursot-pointer"
                            class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            <div class="person_round d-flex align-items-center justify-content-center cursot-pointer">
                                <img src="{% static 'images/more_.png' %}" alt="">
                            </div>
                            <h4 class="pesno_plus_h">More</h4>
                        </div>
                    </div>
                    <div
                        class="pt-3 astimate border-top border-bottom d-flex align-items-center justify-content-between">
                        <div class="astimate_content text-center">
                            <h5>
                                Weekly Target
                            </h5>
                            <h4>
                                Kshs. 15,000.00
                            </h4>
                        </div>
                        <div class="astimate_content text-center">
                            <h5>
                                Interest Rate
                            </h5>
                            <h4>
                                6.5%
                            </h4>
                        </div>
                        <div class="astimate_content text-center">
                            <h5>
                                Earned Interest
                            </h5>
                            <h4>
                                Kshs. 74,250.00
                            </h4>
                        </div>
                    </div>
                    <div class="records">
                        <h4 class="recor_heading mb-0 mt-4">
                            Records
                        </h4>
                        <div
                            class="record_row d-flex align-items-center justify-content-between border-bottom pb-3 pt-3">
                            <p class="mb-0">
                                12 May 2023
                            </p>
                            <p class="mb-0">
                                + Kshs. 27,000.00
                            </p>
                        </div>
                        <div
                            class="record_row d-flex align-items-center justify-content-between border-bottom pb-3 pt-3">
                            <p class="mb-0">
                                12 May 2023
                            </p>
                            <p class="mb-0">
                                + Kshs. 27,000.00
                            </p>
                        </div>
                        <div class="record_row d-flex align-items-center justify-content-between pb-3 pt-3">
                            <p class="mb-0">
                                02 May 2023
                            </p>
                            <p class="mb-0">
                                + Kshs. 12,200.00
                            </p>
                        </div>
                        <button class="btn saving_btn " data-bs-target="#offcanvasRight2"
                            aria-controls="offcanvasRight2">
                            All Goals
                        </button>
                        <button class="btn saving_btn">
                            Add a New Goal
                        </button>
                    </div>
                </div>
            </section>

            <footer class="mbl_footer">
                <div class="container">
                    <div class="footer_row d-flex flex-row justify-content-between align-items-center">
                        <button class="footer_button btn">
                            <img class="homer_white" src="{% static 'images/home_white.png' %}" alt="">

                            <p>Home</p>
                        </button>
                        <button class="footer_button btn">
                            <img src="{% static 'images/filter_active.png' %}" alt="">
                            <p>Features</p>
                        </button>
                        <button class="footer_button btn coming_soon">
                            <img src="{% static 'images/wallet_alt_fill.png' %}" alt="">
                            <p>Account</p>
                        </button>
                        <button class="footer_button btn">
                            <img src="{% static 'images/setting.png' %}" alt="">
                            <p>Settings</p>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--new car geals End-->
    <!--creat profectional goals canves-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight11" aria-labelledby="offcanvasRight11Label">
        <div class=" weknz_header">
            <div class="container">
                <nav class="page_nav mob_nav">
                    <div class="brand">
                        <a href="#">
                            <img src="{% static 'images/Chama-Bora_clrd.png' %}" alt="">
                        </a>
                    </div>
                    <ul class="nav-list">

                        <li class="">

                            <button class="btn" type="button" data-bs-dismiss="offcanvas" aria-label="Close">

                                <img src="{% static 'images/left_arrow.png' %}" alt="">
                            </button>
                        </li>
                        </ul>
                </nav>
            </div>
        </div>
        <div class="offcanvas-body full_page">
            <section class="banner wekenz-banner">
                <div class="container">
                    <div class="wekenza_content">
                        <h2 class="wekenz_h">
                            Create a New<br> Personal Goal
                        </h2>
                        <p class="sub_heading">
                            What are you saving for?</p>

                    </div>

                </div>
            </section>
            <section class="creat_goals">
                <div class="container">

                    <div class="savings_row pb-4">
                        <h4 class="Goals_heading fw_400 mt-3 mb-1 pb-0 ">
                            Select Goal Type
                        </h4>
                        <div class="gol_type card_border d-flex align-items-center justify-content-between ps-4 pe-4">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div class="dirty_c d-flex align-items-center justify-content-center">
                                    <img src="{% static 'images/dirty.png' %}" alt="">
                                </div>
                                <p class="dirty_text">
                                    6.5% Interest
                                    <br> Regular Saving
                                </p>
                            </div>
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div class="dirty_c d-flex align-items-center justify-content-center">
                                    <img src="{% static 'images/dirty.png' %}" alt="">
                                </div>
                                <p class="dirty_text">
                                    6.5% Interest
                                    <br> Regular Saving
                                </p>
                            </div>
                        </div>
                        <form action="" class="mt-3">
                            <div>
                                <label for="neme_your_goals" class="Goals_heading fw_400 mt-3 mb-1 pb-0 ">
                                    Name Your Goal
                                </label>

                                <select name="cars" id="neme_your_goals" form="carform" class="text-start">
                                    <option value=""> Name Your Goal</option>
                                    <option value=""> Name Your Goal</option>
                                    <option value=""> Name Your Goal</option>
                                    <option value=""> Name Your Goal</option>
                                </select>
                            </div>
                            <div>
                                <label for="target-amount" class="Goals_heading fw_400 mt-3 mb-1 pb-0 ">
                                    Target Amount
                                </label>
                                <input type="text" name="target-amount" id="target-amount" placeholder="Target Amount">
                            </div>
                            <div>
                                <label for="goal_name" class="Goals_heading fw_400 mt-3 mb-1 pb-0 ">
                                    Group Goal Mission:
                                </label>
                                <textarea type="text" name="goal_name" id="goal_name"
                                    placeholder="Name your Goal"></textarea>
                            </div>
                            <div class="check_box d-flex align-items-center">
                                <input type="checkbox">
                                <h6 class="check_box_content ms-2 mb-0">
                                    No target. Just want to save
                                </h6>
                            </div>
                            <div>
                                <label for="start_date" class="Goals_heading fw_400 mt-3 mb-1 pb-0 ">
                                    Start Date
                                </label>
                                <input type="text" name="Start Date" id="start_date" placeholder="Start Date">
                            </div>
                            <div>
                                <label for="end_date" class="Goals_heading fw_400 mt-3 mb-1 pb-0 ">
                                    End Date
                                </label>
                                <input type="text" name="Start Date" id="end_date" placeholder="Start Date">
                            </div>
                            <div class="check_box d-flex align-items-center">
                                <input type="checkbox">
                                <h6 class="check_box_content ms-2 mb-0">
                                    No target. Just want to save
                                </h6>
                            </div>
                            <div class="d-flex flex-row align-items-center justify-content-between gap_40">

                                <div>
                                    <label for="amount-to-save" class="Goals_heading fw_400 mt-3 mb-1 pb-0 ">
                                        Amount to Save
                                    </label>
                                    <input type="number" name="amount-to-save" id="amount-to-save"
                                        placeholder="Amount to Save">
                                </div>
                                <div>
                                    <label for="neme_your_goals" class="Goals_heading fw_400 mt-3 mb-1 pb-0 ">
                                        Frequency
                                    </label>

                                    <select name="cars" id="neme_your_goals" form="carform" class="text-start">
                                        <option value=""> Frequency</option>
                                        <option value=""> Frequency</option>
                                        <option value=""> Frequency</option>
                                        <option value=""> Frequency</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <h4 class="Goals_heading fw_400 mt-3 mb-1 pb-0 ">
                                    Reminders Frequency
                                </h4>
                                <div class="d-flex flex-row align-items-center justify-content-between gap_40">

                                    <div>
                                        <label for="neme_your_goals" class="Goals_heading fw_400 mt-3 mb-1 pb-0 ">
                                            Frequency
                                        </label>

                                        <select name="cars" id="neme_your_goals" form="carform" class="text-start">
                                            <option value="">Week</option>
                                            <option value=""> Frequency</option>
                                            <option value=""> Frequency</option>
                                            <option value=""> Frequency</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="neme_your_goals" class="Goals_heading fw_400 mt-3 mb-1 pb-0 ">
                                            time
                                        </label>

                                        <select name="cars" id="neme_your_goals" form="carform" class="text-start">
                                            <option value="">9.00 am</option>
                                            <option value=""> 8.00 am</option>
                                            <option value=""> 7.00 am</option>
                                            <option value=""> 4.00 am</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>



                    </div>
                    <div>
                        <button class="btn saving_btn ">
                            All Goals
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--buy new house off canvas re-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight5" aria-labelledby="offcanvasRight5Label">
        <div class=" weknz_header">
            <div class="container">
                <nav class="page_nav mob_nav">
                    <div class="brand">
                        <a href="#">
                            <img src="{% static 'images/Chama-Bora_clrd.png' %}" alt="">
                        </a>
                    </div>
                    <ul class="nav-list">

                        <li class="">

                            <button class="btn" type="button" data-bs-dismiss="offcanvas" aria-label="Close">

                                <img src="{% static 'images/left_arrow.png' %}" alt="">
                            </button>
                        </li>
                        </ul>
                </nav>
            </div>
        </div>
        <div class="offcanvas-body full_page">
            <section class="banner car_banner house_banner">
                <div class="container">
                    <div class="wekenza_content">
                        <h2 class="wekenz_h mb-2">
                            Buying a New House
                        </h2>
                        <p class="sub_heading mb-2">
                            99 Months Left
                        </p>
                        <h4 class="wekenza_price mb-2 text_shadows">
                            Kshs. 4,950,000.00
                        </h4>
                        <p class="sub_heading mt-0">
                            Remaining
                        </p>
                        <div>
                            <div class="bar_content mt-4">
                                <p class="mb-0">
                                    Saving
                                </p>
                                <p class="mb-0">1%</p>
                                <p class="mb-0">Goals</p>
                            </div>
                            <div class="goal_progress">
                                <div class="inner" style="width: 3%;">
                                </div>
                            </div>

                            <div class="bar_content mt-1">
                                <p>
                                    Kshs. 560,000.00
                                </p>
                                <p>Kshs. 1,500,000.00</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section class="creat_goals">
                <div class="container">
                    <div class="d-flex flex-row align-items-center justify-content-between mt-3">
                        <div class="d-flex flex-row align-items-center flex-column cursot-pointer"
                            data-bs-toggle="modal" data-bs-target="#exampleModal9">
                            <div class="person_round d-flex align-items-center justify-content-center">
                                <img src="{% static 'images/wallet-money_.png' %}" alt="">
                            </div>
                            <h4 class="pesno_plus_h">Add Funds</h4>
                        </div>
                        <div class="d-flex flex-row align-items-center flex-column cursot-pointer"
                            data-bs-toggle="modal" data-bs-target="#exampleModal8">
                            <div class="person_round d-flex align-items-center justify-content-center">
                                <img src="{% static 'images/money-send_.png' %}" alt="">
                            </div>
                            <h4 class="pesno_plus_h">Withdraw</h4>
                        </div>
                        <div class="d-flex flex-row align-items-center flex-column cursot-pointer"
                            class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal7">
                            <div class="person_round d-flex align-items-center justify-content-center cursot-pointer">
                                <img src="{% static 'images/more_.png' %}" alt="">
                            </div>
                            <h4 class="pesno_plus_h">More</h4>
                        </div>
                    </div>
                    <div
                        class="pt-3 astimate border-top border-bottom d-flex align-items-center justify-content-between">
                        <div class="astimate_content text-center">
                            <h5>
                                Weekly Target
                            </h5>
                            <h4>
                                Kshs. 15,000.00
                            </h4>
                        </div>
                        <div class="astimate_content text-center">
                            <h5>
                                Interest Rate
                            </h5>
                            <h4>
                                6.5%
                            </h4>
                        </div>
                        <div class="astimate_content text-center">
                            <h5>
                                Earned Interest
                            </h5>
                            <h4>
                                Kshs. 74,250.00
                            </h4>
                        </div>
                    </div>
                    <div class="records">
                        <h4 class="recor_heading mb-0 mt-4">
                            Records
                        </h4>
                        <div
                            class="record_row d-flex align-items-center justify-content-between border-bottom pb-3 pt-3">
                            <p class="mb-0">
                                12 May 2023
                            </p>
                            <p class="mb-0">
                                + Kshs. 27,000.00
                            </p>
                        </div>

                        <button class="btn saving_btn " data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                            All Goals
                        </button>
                        <button class="btn saving_btn">
                            Add a New Goal
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
