name: staging

on:
  push:
    branches:
      - staging

jobs:
  staging:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Update .env file
        env:
          ENV_FILE_CONTENT: ${{ secrets.ENV_FILE_CONTENT }}
        run: echo "$ENV_FILE_CONTENT" > .env

      - name: Build Docker Image (staging tag)
        run: |
          ls -la
          echo "Using staging tag"
          docker build -t chamaspace_app:staging .
          docker tag chamaspace_app:staging jeldinvestment/chamaspace_app:staging

      - name: Push Docker Image (staging)
        uses: docker/login-action@v3
        with:
          username: jeldinvestment
          password: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u jeldinvestment --password-stdin
          docker push jeldinvestment/chamaspace_app:staging

      - name: Upload the application code to server (staging dir)
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key:  ${{ secrets.SSH_PRIVATE_KEY }}
          source: './*'
          target: '/var/www/ChamaSpace_staging'

      - name: SSH into Server and Run Staging Container (port 8500)
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            mkdir -p /var/www/ChamaSpace_staging
            cd /var/www/ChamaSpace_staging

            echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u jeldinvestment --password-stdin
            docker pull jeldinvestment/chamaspace_app:staging

            docker rm -f chamaspace_app_staging || true
            docker rm -f redis_staging || true

            docker run -d --name redis_staging --network chamaspace_default -v redis-data-staging:/data redis:7 || true

            docker run -d \
              --name chamaspace_app_staging \
              --network chamaspace_default \
              -p 8500:8000 \
              -e ENVIRONMENT=staging \
              -e CELERY_BROKER_URL="redis://redis_staging:6379/0" \
              --restart always \
              -v chama_db_staging:/db \
              -v /var/www/ChamaSpace_staging/media:/app/media \
              jeldinvestment/chamaspace_app:staging \
              sh -c "python manage.py migrate && python manage.py collectstatic --noinput && gunicorn Chamabora.wsgi:application --bind 0.0.0.0:8000"
